* {font-family:franklin gothic, raleway, roboto, serif;}
.logo_img {width:30px;height:30px;}
.w3-circle {width:40px;height:40px;}
a.so{border-radius:50%;}
.logo_asas {margin:0 10px 0 00;}
.logo {color:#1558CB; font-size:20px;}
a:hover{text-decoration:none;}
.nav {font-size:20px;}
.nav>a {text-decoration:none;color:grey;}
.nav>a:hover {text-decoration:none;border-bottom:2px solid #2196F3;}
.active {color:#1558CB;border-bottom:2px solid #1558CB}
.poster,.g-image {width:100%;}
a:hover.so{border:none;}
a.so{margin:6px 10px 0 00;}
.logout-default,div.logout::after,div.logout:not(:hover) > .logout-hover {display: none;transition: 0.3s;}
div.logout:not(:hover) > .logout-default {display: block;transition: 0.3s;}
.slideshow{width:1358px;height:327px;}
.w3-bar-item.active{color:black!important;border-bottom:2px solid black !important;}
.w3-bar-item.active:hover{background-color:white !important}
.w3-hover-shadow:hover{cursor:pointer !important;}
.close-x{font-weight:bold;}
.column,.page,.subpage,.subbpage {display: none !important;}
.show {display: block !important;}
.top-btn {display: none;position: fixed;}
.side-button a {position: fixed;transition: 0.3s;padding:13px !important;width: 100px;border-radius: 5px 0 0 5px;right: -75px;z-index: 99;text-align:left !important;}
.side-button a:hover {color:white !important;right: 0;text-align:center !important;}
.sb1 {top: 60%;}
.sb2 {top: 70%;}
.sb3 {top: 80%;}
.sb4 {top: 90%;}
.smbl{color:white !important;font-weight:bold;}
.g-image{border-radius:5px;height:200px;}
.filter1{font-size:22px;cursor:pointer;text-decoration:underline;}.filter1:hover{color:#1558CB;}